---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout lang="en" title="Apartments for workers">
  <h1>Apartments for workers</h1>
  <p>Housing for workers coming to Sweden from different European countries.</p>

  <a href="/sv/">Svenska</a>
</BaseLayout>
